.back-frame {
  width: 1296px;
  height: 774px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke);
  display: none;
  max-width: 100%;
}

.span {
  color: var(--color-mediumseagreen);
}

.under-construction {
  color: #d8635b;
}

.title {
  margin: 0;
  align-self: stretch;
  height: 256px;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 700;
  font-family: inherit;
  white-space: pre-wrap;
  display: inline-block;
  z-index: 1;
}

.very-soon {
  color: var(--color-mediumseagreen);
}

.caption {
  width: 1062px;
  position: relative;
  font-size: var(--font-size-45xl);
  line-height: 100%;
  display: inline-block;
  text-align: left;
  max-width: 100%;
  z-index: 1;
  margin-bottom: 60px;
}
.title,
.caption {
  width: 100%; /* Ensure both title and caption take full width */
  text-align: center; /* Center-align text */
}

.inner-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-109xl);
  color: var(--color-darkslategray);
  font-family: var(--menu);
}

.qcb-body1 {
  position: relative;
  font-size: var(--font-size-29xl);
  line-height: 100%;
  font-family: var(--menu);
  color: var(--color-gray);
  text-align: left;
}

.return-home-button-child {
  height: 29.5px;
  width: 59px;
  position: relative;
}

.coming-soon-page-content,
.return-home-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}

.return-home-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-11xl) var(--padding-base) 41px;
  background-color: var(--color-mediumseagreen);
  border-radius: var(--br-3xs);
  flex-direction: row;
  gap: var(--gap-3xs);
  white-space: nowrap;
  z-index: 1;
}

.return-home-button:hover {
  background-color: #28c07c;
}

.coming-soon-page-content {
  width: 1296px;
  border-radius: 40px;
  background-color: var(--color-whitesmoke);
  flex-direction: column;
  padding: 37px 93px 165px 67px;
  gap: var(--gap-113xl);
}

.coming-soon-page {
  background-color: var(--color-lavender);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 110px var(--padding-40xl) 140px 85px;
  letter-spacing: normal;
  height: auto;
}

.calculate-now-button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-mini);
  background-color: var(--color-mediumseagreen);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  row-gap: 20px;
  max-width: 100%;
}

.qc-body {
  position: relative;
  max-width: 100%;
}

.qcb-body {
  position: relative;
  font-size: var(--font-size-29xl);
  line-height: 100%;
  font-family: var(--menu);
  color: var(--color-gray);
  text-align: left;
}

.analyze-now-button-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}

.calculate-now-button-child {
  height: 29.5px;
  width: 59px;
  position: relative;
}

.calculate-now-button1:hover {
  transform: scale(1.03); /* Increase the size by 10% on hover */
  opacity: 0.9;
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}
@media (max-width: 768px) {
  .inner-frame {
    align-items: flex-start; /* Align items at the start */
  }

  .caption {
    width: 100%; /* Adjust width to 100% to prevent overflow */
    text-align: center; /* Center-align text */
  }
}
html,
body {
  background-color: var(--color-lavender);
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}
