@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
  cursor: default;
}
:root {
  /* fonts */
  --body: Inter;
  --menu: "Saira Condensed";

  /* font sizes */
  --body-size: 24px;
  --font-size-lgi: 19px;
  --font-size-45xl: 64px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-109xl: 128px;
  --font-size-13xl: 32px;
  --menu-size: 30px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-black: #000;
  --color-darkslategray: #344054;
  --color-lavender: #e0eaff;
  --color-mediumseagreen: #12b76a;
  --color-gray: #1e2023;
  --primary-blue-50: #ebfbfe;

  /* Gaps */
  --gap-42xl: 61px;
  --gap-7xl: 26px;
  --gap-xl: 20px;
  --gap-11xl: 30px;
  --gap-8xs: 5px;
  --gap-13xl: 32px;
  --gap-3xs: 10px;
  --gap-9xl: 28px;
  --gap-148xl: 167px;
  --gap-10xs: 3px;

  /* Paddings */
  --padding-27xl: 46px;
  --padding-2xl: 21px;
  --padding-32xl: 51px;
  --padding-xl: 20px;
  --padding-119xl: 138px;
  --padding-71xl: 90px;
  --padding-7xs: 6px;
  --padding-13xl: 32px;
  --padding-3xs: 10px;
  --padding-167xl: 186px;
  --padding-102xl: 121px;
  --padding-mini: 15px;
  --padding-51xl: 70px;
  --padding-10xl: 29px;
  --padding-72xl: 91px;
  --padding-26xl: 45px;
  --padding-40xl: 59px;
  --padding-4xs: 9px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-181xl: 200px;
}
