@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body: Inter;
  --menu: "Saira Condensed";

  /* font sizes */
  --menu-phone-size: 14px;
  --body-size: 24px;
  --font-size-lgi: 19px;
  --font-size-45xl: 64px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-109xl: 128px;
  --font-size-13xl: 32px;
  --menu-size: 30px;
  --font-size-21xl: 40px;
  --font-size-3xs: 10px;
  --font-size-7xl: 26px;
  --font-size-base: 16px;
  --font-size-4xl: 23px;
  --font-size-lg: 18px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-darkgray-100: #b3b3b3;
  --color-darkgray-200: #999;
  --color-white: #fff;
  --color-black: #000;
  --color-darkslategray: #344054;
  --color-lavender: #e0eaff;
  --color-mediumseagreen: #12b76a;
  --color-gray: #1e2023;
  --primary-blue-50: #ebfbfe;
  --color-whitesmoke: #f2f4f7;
  --color-lightgray: #d0d5dd;

  /* Gaps */
  --gap-42xl: 61px;
  --gap-7xl: 26px;
  --gap-xl: 20px;
  --gap-11xl: 30px;
  --gap-8xs: 5px;
  --gap-13xl: 32px;
  --gap-3xs: 10px;
  --gap-9xl: 28px;
  --gap-148xl: 167px;
  --gap-10xs: 3px;
  --gap-21xl: 40px;
  --gap-4xs: 9px;
  --gap-12xl: 31px;
  --gap-7xs: 6px;
  --gap-390xl: 409px;
  --gap-12xs: 1px;
  --gap-11xs: 2px;
  --gap-55xl: 74px;
  --gap-16xl: 35px;
  --gap-5xs: 8px;
  --gap-51xl: 70px;
  --gap-26xl: 45px;
  --gap-41xl: 60px;
  --gap-mini: 15px;
  --gap-139xl: 158px;
  --gap-15xl: 34px;
  --gap-74xl: 93px;
  --gap-424xl: 443px;
  --gap-407xl: 426px;
  --gap-556xl: 575px;
  --gap-252xl: 271px;
  --gap-310xl: 329px;
  --gap-362xl: 381px;
  --gap-203xl: 222px;
  --gap-151xl: 170px;
  --gap-22xl: 41px;
  --gap-35xl: 54px;

  /* Paddings */
  --padding-27xl: 46px;
  --padding-2xl: 21px;
  --padding-32xl: 51px;
  --padding-xl: 20px;
  --padding-119xl: 138px;
  --padding-71xl: 90px;
  --padding-7xs: 6px;
  --padding-13xl: 32px;
  --padding-3xs: 10px;
  --padding-167xl: 186px;
  --padding-102xl: 121px;
  --padding-mini: 15px;
  --padding-51xl: 70px;
  --padding-10xl: 29px;
  --padding-72xl: 91px;
  --padding-40xl: 59px;
  --padding-4xs: 9px;
  --padding-635xl: 654px;
  --padding-406xl: 425px;
  --padding-257xl: 276px;
  --padding-lg: 18px;
  --padding-5xl: 24px;
  --padding-12xs: 1px;
  --padding-10xs: 3px;
  --padding-5xs: 8px;
  --padding-4xl: 23px;
  --padding-8xs: 5px;
  --padding-11xs: 2px;
  --padding-9xs: 4px;
  --padding-33xl: 52px;
  --padding-xs: 12px;
  --padding-6xl: 25px;
  --padding-11xl: 30px;
  --padding-26xl: 45px;
  --padding-3xl: 22px;
  --padding-6xs: 7px;
  --padding-2xs: 11px;
  --padding-58xl: 77px;
  --padding-31xl: 50px;
  --padding-mid: 17px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-181xl: 200px;
  --br-11xl: 30px;
}
